<%= simple_form_for(@verrerie, :html => { multipart: true }) do |f| %>
 <% if @verrerie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verrerie.errors.count, "error") %> prohibited this verrerie from being saved:</h2>

      <ul>
      <% @verrerie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :titre %>
      <%= f.input :description, label: 'DESCRIPTION' %>
      <%= f.input :prix %>
      <%= f.input :visible, as: :select %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>


   <%= f.fields_for :picture do |ff| %>
    <div class="field">
      <%= ff.label :picture %><br>
      <%= ff.file_field :picture, multiple: true, name: "pictures[]" %>
    </div>
  <% end %>

    <div class="actions">
      <%= f.button :submit, 'Modifier' %>
    </div>
    <% end %>

    <% if @verrerie.id %>
    <div class="row">
  <% @verrerie.pictures.each do |picture| %>
      <div class="col-xs-12 col-md-3">
    <%= image_tag picture.picture_url(:verreries_thumbnail) %><br>
    <%= link_to "Supprimez", picture_path(picture), :method => :delete %><br>

      </div>
  <% end %>
<% end %>
    </div>
  </div>
