
<div class="image-verrerie">
  <h1>Verrerie</h1>
  <div class="first-image verrerie-img">

  </div>
  <div class="link-products cursor">
    <ul>
      <li id="1">Tous les articles</li>
      <li id="2">VERRES</li>
      <li id="3">CARAFES</li>
      <li id="4">VASES</li>
    </ul>
  </div>
  <div id="div1"class="row">
      <% @verreries.each do |verre| %>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
      <%= link_to "Voir le produit", verrery_path(verre), class: "link-cover"  %>
    </div>
      </div>
      </div>
  <% end %>
  </div>
  <div id="div2"class="row">
      <% @verreries.each do |verre| %>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
    </div>
      </div>
      </div>
  <% end %>
  </div>
  <div id="div3"class="row">
      <% @verreries.each do |verre| %>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
    </div>
      </div>
      </div>
  <% end %>
  </div>
    <div id="div4"class="row">
      <% @verreries.each do |verre| %>
      <% if verre.prix < 7 %>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#div2,#div3,#div4").css('display', 'none');

  $("#1").on('click', function() {
   $("#div1").fadeIn();
   $("#div2,#div3,#div4").fadeOut();
});
$("#2").on('click', function() {
   $("#div2").fadeIn();
   $("#div1,#div3,#div4").fadeOut();
});
$("#3").on('click', function() {
   $("#div3").fadeIn();
   $("#div1,#div2,#div4").fadeOut();
});
$("#4").on('click', function() {
   $("#div4").fadeIn();
   $("#div1,#div2,#div3").fadeOut();
});


});


</script>
