<div class="nav-bar-container id="myHeader">
  <div class="logo-container">
    <%= image_tag "logo-lettre.png" %>
  </div>


  <div class="link-primary">
    <ul>
      <li><%= link_to "Accueil", '/'%></li>
      <li><%= link_to "Boutiques", '/'%></li>
      <li><%= link_to "Réalisations", '/'%></li>
      <li><%= link_to "Presse", '/'%></li>
      <li><%= link_to "Contact", '/'%></li>
    </ul>
  </div>

  <div class="link-products">
    <ul>
      <li><%= link_to "Verrerie", '/', class: "cool-link"%></li>
      <li><%= link_to "Table", '/', class: "cool-link"%></li>
      <li><%= link_to "Textile", '/', class: "cool-link"%></li>
      <li><%= link_to "Lifestyle", '/', class: "cool-link"%></li>
      <li><%= link_to "Mobilier", '/', class: "cool-link"%></li>
      <li><%= link_to "Luminaires", '/', class: "cool-link"%></li>
      <li><%= link_to "Enfants", '/', class: "cool-link"%></li>
      <li><%= link_to "Accessoires", '/', class: "cool-link"%></li>
    </ul>
  </div>
  </div>


<script>
  // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
