<div class="nav-bar-container id="myHeader">
  <div class="logo-container">
    <%= image_tag "logo-lettre.png" %>
  </div>


  <div class="link-primary">
    <ul>
      <li><%= link_to "Accueil", '/'%></li>
      <li><%= link_to "Boutiques", boutiques_path%></li>
      <li><%= link_to "Réalisations", ''%></li>
      <li><%= link_to "Presse", '/'%></li>
      <li><%= link_to "Contact", '/'%></li>
    </ul>
  </div>

  <div class="link-products">
    <ul>
      <li><%= link_to "Verrerie", verreries_path, class: "cool-link"%></li>
      <li><%= link_to "Table", '/', class: "cool-link"%></li>
      <li><%= link_to "Textile", '/', class: "cool-link"%></li>
      <li><%= link_to "Lifestyle", '/', class: "cool-link"%></li>
      <li><%= link_to "Mobilier", '/', class: "cool-link"%></li>
      <li><%= link_to "Luminaires", '/', class: "cool-link"%></li>
      <li><%= link_to "Enfants", '/', class: "cool-link"%></li>
      <li><%= link_to "Accessoires", '/', class: "cool-link"%></li>
    </ul>
  </div>
  </div>

<!-- <script>
     $(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('.logo-container').fadeOut();
     }
    else
     {
      $('.logo-container').fadeIn();
     }
 });
</script> -->
